img {
    width :300px;
    height : 300px;
    object-fit: contain;
    
}
div {
    border: 3px solid black;
}
body {
    background-color: blanchedalmond;
    text-align: center;
}
p {
    font-size: x-large;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: palevioletred;
}

canvas {
    background-color: white;
}
#set {
    background-color: palevioletred;
}
#FinalResultButton {
    background-color: palevioletred
}

